body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font: "Georgia, Times New Roman, Times, serif";
    color: #333333;
}
header {
    background-color: #333333;
}
h1 {
    margin: 0;
    padding: 15px;
    color: #eee;
    font-size: 28px;
}
h2 {
    font-size: 24px;
    margin: 0 auto;
}

a:link {
    text-decoration: none;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}
#main-bio {
    width: 70%
}
#bio-image {
    transform: rotate(90deg);
    width: 200px;
    margin: 30px 15px 30px 0;
}
#contact-info {
    width: 30%;
}
#mailing-list  h2 { 
    font-size: 24px;
}
#mailing-list {
    line-height: 1.25em;
}
a {
    color: #d21034;
}
li {
    list-style: none;
    font-size: 1.25em;
}
h1 {
    text-align: center;
}
#main-bio h2 {
    padding: 10px 0 10px 25px;
}
#main-bio p {
    font-size: 1.25em;
}
